$mobileScreen: 768px;
$tabletMinScreen: 769px;
$tabletMaxScreen: 1023px;
$desktopScreen: 1024px;
$nearBlack: #212427;
$nearWhite: #f5f5fa;
$primary: #25b8e2;
$primary-dark: #0071b8;
$secondary: #119abf;
$contrast: #ff6b6b;
$accent: #2ecc71;
$neutral-light: #f8f9fa;
$neutral-dark: #343a40;
$lighter-background-color: #282828;
$background-color: #161616;
